@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(45deg, rgb(13, 13, 192), rgb(5, 5, 80));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.36);
    border-radius: 0px 0px 20px 20px;
}

.titulo {
    width:73vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
}

.logo {
    border-radius: 50px;
}

.logo img{
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgb(0, 255, 238);
    padding: 5px;
    
}

header h1 {
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: white;
}

main {
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 80vw;
}

h2 {
    width: 200px;
    background-image: linear-gradient(45deg, rgb(13, 13, 192), rgb(5, 5, 80));
    margin-top: 30px;
    padding: 8px;
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.518);
    border-radius: 10px;
}

section.metodos, section.strings, section.numeros {
    width: 85vw;
    background-color: white;
    border-radius: 10px;
    padding: 0px 30px;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.456);
}

section.metodos {
    margin-top: 20px;
}

section.strings {
    margin-top: 30px;
}

section.strings h3, section.metodos h3, section.numeros h3 {
    color: black;
}

section.numeros {
    margin-top: 30px;
}

h3 {
    margin-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.214);
    color: white;
}


.vetor {
    margin: auto;
    margin-top: 10px;
    min-width: 300px;
    max-width: 550px;
    font-size: 1em;
    background-color:white;
    border-radius: 10px;
    padding: 7px;
    line-height: 20px;
}

li {
    margin-bottom:10px;

}

li p {
   margin-top: 10px;
   padding:5px;
}

div.tela {
    width: 90vw;
    margin-top: 30px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color:rgb(96, 96, 155);
    border-radius: 10px
}

div.tela h3 {
    color: white;
}

#tela {
    display: block;
    margin: auto;
    margin-top: 10px;
    min-width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(154, 148, 148);
    padding: 20px 10px;
    font-size: 1em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.386);
}

#btn_reset {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.vermelho {
    color: red;
    letter-spacing: 2px;
}

input {
    margin-top:10px;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

input:hover {
    background-color: lightgray;
}

footer {
    background-image: linear-gradient(45deg, rgb(3, 3, 42), rgb(11, 11, 148));
    margin-top:50px;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.441);
    line-height: 25px;
    border-radius: 20px 20px 0px 0px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
