@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right,#8B30FF, #183B80 );
}

header {
	background-color: #8B30FF;
	text-align: center;
	margin-top: 20px;
	color: white;
	text-shadow: 1px 1px 2px #ff000056;
}

h2 {
	background-color: #ff0000;
	padding: 5px;
	color: white;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
	text-shadow: 1px 1px 2px #183b80a6;
	
}

main {
	margin: auto;
	width: 90vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}

section {
	margin-top: 20px;
	width: 320px;
	height: 320px;
	background-color: #5959FF ;
	text-align: center;
	padding: 10px;
	border-radius: 200px;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.459);
}

.tela {
	margin: auto;
	margin-top: 110px;
	width: 195px;
	background-color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
	padding: 8px;
	border-radius: 5px;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.459);
	font-size: 1.4em;
}

.botoes {
	margin-top: 50px;
}

input {
	padding: 12px;
	border-radius: 5px;
	border: none;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.479);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.301);
}

#iniciar {
	background-color: #8b30ff;
}

#iniciar:hover {
	background-color: #c79dff;
	color: black;
	text-shadow: none;
}

#pausar {
	background-color: #183b80 ;
}

#pausar:hover {
	background-color: #84adff ;
	color: black;
	text-shadow: none;
}

#zerar {
	background-color: #ff0000 ;
}

#zerar:hover {
	background-color: #fdb7b7 ;
	color: black;
	text-shadow: none;
}
